.landing{
  background-image: url('../images/backgrounds/h_img.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:17%; 
  /* padding-bottom:5%; */
}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 64px;
  height: 64px;;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
.about{
  text-align: center;
}
#about{
  margin-top: 20px;
}
.services{
  text-align: center;
  background-image: url("../images/backgrounds/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 10%;
}