.landing{
  background-image: url('../images/backgrounds/h_img.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:17%; 
  /* padding-bottom:5%; */
}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 64px;
  height: 64px;;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
.about{
  text-align: center;
  padding-bottom: 30px;
  padding-top:40px;
}
.services{
  text-align: center;
  background-image: url("../images/backgrounds/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 10%;
}
.what-we-do{
  text-align: center;
  padding-top: 40px;
}
.what-we-do h2{
  padding-bottom: 38px;
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:16%;
  margin-right: 16%; 
}
.col-md-3 img{
  width: 200px;
  margin: 20px;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
}
.contact{
  background-image: url('../images/backgrounds/c_image.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /* text-align: center; */
}
.contact h2{
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
}
input[type=text],input[type=email]{
  background: transparent;
  /* color: white; */
}
input::placeholder{
  color: white;
}
.form-control::-webkit-input-placeholder { color: white; }
#name{
  width: 30%;
  margin-left: 18%;
  margin-right: 30px;
}
#email{
  width: 30%;
}
#comment{
  background: transparent;
  margin-left: 20%;
  width: 60%;
}
button{
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
footer{
  text-align: center;
  padding-top: 30px;
}
footer p{
  margin-top: 10px;
}